body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

#game-buttons {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 20px;
    justify-content: center;
}

button {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.flash {
    animation: flash 0.3s ease-in-out;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

button:active {
    opacity: 0.8;
}

#start {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
}